@page
@model IndexModel
@{
    ViewData["Title"] = "Adam Clifton: Software Engineering";
}

<div class="container" style="padding-left:inherit">

    <h1> Who I Am</h1>
    <div class="home-row">
        <div class="home-left">

            @foreach(var sect in Model.SectionList) {

                if(sect.Title == "Who I Am")
                {
                    @sect.Description
                    <br /><br />
                }
            }

        </div>
        <div class="home-right">
            <!--professional image to go here-->
            <img src="~/images/573.webp" 
                 style="max-width:400px; height:auto; border-radius:30%" 
                 alt="pic of me" />
        </div>
    </div>
</div>

@* This entire container will need to change and become dynamic.
    Hardcoding now just to have something present. *@
<div class="container" style="padding-left:inherit">

    <div class="education-home">
        <div class="panel">
            <h4>Education</h4>

        </div>
        <div class="panel-container">

            @foreach(var sect in Model.SectionList)
            {
                if(sect.Title == "Education")
                {
                    @sect.Description
                }
            }

            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Education">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="professional-home">
        <div class="panel">
            <h4>Professional Experience</h4>

        </div>
        <div class="panel-container">

            @foreach (var sect in Model.SectionList)
            {
                if (sect.Title == "Professional Experience")
                {
                    @sect.Description
                }
            }

            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Professional">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="skillset-home">
        <div class="panel">
            <h4>Skillsets</h4>

        </div>
        <div class="panel-container">

            @foreach (var sect in Model.SectionList)
            {
                if (sect.Title == "Skillsets")
                {
                    @sect.Description
                    <br /><br />
                }
            }

        </div>
    </div>

    <div class="projects-home">
        <div class="panel">
            <h4>Projects</h4>
        </div>
        <div class="panel-container">

            @foreach (var sect in Model.SectionList)
            {
                if (sect.Title == "Projects")
                {
                    @sect.Description
                }
            }

            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Projects">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="contact-home">
        <div class="panel">
            <h4>Contact</h4>

        </div>
        <div class="panel-container">
            <a href="mailto:adamkclifton@gmail.com">Send me an email</a> or
            head over to the
            <span>
                <a href="/Contact">Contact Page</a>
            </span>
            for Links and more information.
        </div>
    </div>
</div>