@page
@model PortfolioWeb.Pages.ProfessionalModel
@{
    ViewData["Title"] = "Professional Experience";
}


<div class="container experience" style="padding-left:inherit">

    <h1>@ViewData["Title"]</h1>

    <div class="experience-body">

        @foreach (var sect in Model.SectionList)
        {
            if (sect.Tab.Equals("Experience") &&
               sect.Title.Equals("Professional Experience"))
            {
                @sect.Description
            }
        }

        <br /><br />
        <a href="~/data/Clifton_Adam_2020_ResumeWeb.pdf" target="_blank" rel="noopener noreferrer">
            View a printable version of my resume.
        </a>
        <br /><br />
    </div>

    <div class="doj">
        <div class="panel">
            <h5 style="padding-left:3px">Department of Justice | United States Attorney's Office | District of Arizona</h5>
            <div class="exp-position">
                Lead Legal Assistant    |   December 2014 - May 2020
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Full-time: </b>40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>
            <ul style="text-align:justify">

                @foreach(var sect in Model.SectionList)
                {
                    if(sect.Title.Equals("LeadLA"))
                    {
                        foreach(string s in sect.BulletList)
                        {
                            <li>@s</li>
                        }
                    }
                }

            </ul>
        </div>
    </div>

    <div class="pak">
        <div class="panel">
            <h5 style="padding-left:3px">Pak &amp; Moring PLC</h5>
            <div class="exp-position">
                Parelegal    |   May 2014 - December 2014
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Full-time: </b>Salary</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">

                @foreach (var sect in Model.SectionList)
                {
                    if (sect.Title.Equals("Paralegal"))
                    {
                        foreach (string s in sect.BulletList)
                        {
                            <li>@s</li>
                        }
                    }
                }

            </ul>
        </div>
    </div>

    <div class="contractor">
        <div class="panel">
            <h5 style="padding-left:3px">Career Management Associates</h5>
            <div class="exp-position">
                Contract Legal Assistant    |   August 2011 - May 2014
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Location: </b>Unites States Attorney's Office | District of Arizona</li>
                <li><b>Full-time: </b>40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">

                @foreach (var sect in Model.SectionList)
                {
                    if (sect.Title.Equals("ContLA"))
                    {
                        foreach (string s in sect.BulletList)
                        {
                            <li>@s</li>
                        }
                    }
                }

            </ul>
        </div>
    </div>

    <div class="student">
        <div class="panel">
            <h5 style="padding-left:3px">Department of Justice | United States Attorney's Office</h5>
            <div class="exp-position">
                Student Clerk    |   September 2010 - August 2011
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Part-time: </b>20-40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">

                @foreach (var sect in Model.SectionList)
                {
                    if (sect.Title.Equals("Student"))
                    {
                        foreach (string s in sect.BulletList)
                        {
                            <li>@s</li>
                        }
                    }
                }

            </ul>
        </div>
    </div>
</div>
