@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        
        @foreach(var sect in Model.SectionList)
        {
            if(sect.Title.Equals("Projects-Body"))
            {
                @sect.Description
            }
        }

        <br /><br />
    </div>

    <div class="container" style="padding-left:inherit">

        <div>
            <div class="project-cLeft">
                <h4 class="project-head">Project Name</h4>
            </div>
            <div class="project-cRight">
                <h4 class="project-head">What I Learned</h4>
            </div>
            <br />
        </div>
    </div>

    <div class="container" style="padding-left:inherit">

        <div class="projects">

            <div class="panel">
                <div class="project-name">This Web Portfolio <br />
                    <img src="~/images/cs_logo.png" style="max-height: 30px; padding-bottom: 4px" alt="csharp"/> | 
                    <i class="fab fa-html5" style="color:cornflowerblue; font-size:inherit" alt="html5"></i> | 
                    <i class="fab fa-css3-alt" style="color:blueviolet; font-size:inherit" alt="css"></i> | 
                    <i class="fab fa-js" style="color:forestgreen; font-size:inherit" alt="js"></i> 
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">

                        @foreach(var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("webp-left"))
                            {
                                foreach(string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                        <li>
                            <a href="https://github.com/akclifto/PortfolioWeb" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("webp-right"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">
                    Distributed Media Player <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i> |
                    <img src="~/images/cpp_logo.png" style="max-height: 27px; position:center; padding-bottom: 4px" alt="cpp"/>
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("dmp-left"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                        <li>
                            <a href="https://github.com/akclifto/MediaPlayer" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - Java implementation
                        </li>
                        <li>
                            <a href="https://github.com/akclifto/MediaPlayercpp" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - C++ implementation
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("dmp-right"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Database Application Service <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i> |
                    <img src="~/images/sql_logo.png" style="max-height: 25px; padding-bottom: 4px" alt="sql" />
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("das-left"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                        <li>
                            <a href="https://github.com/akclifto/SER322_Team2_Db_Application" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("das-right"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Design Patterns Simulation: Heroes and Villains <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i>
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("dps-left"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                        <li>
                            <a href="https://github.com/akclifto/heroesvillains" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("dps-right"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Manufacturing UI with Dynamic File Tree <br />
                    <img src="~/images/cs_logo.png" style="max-height: 30px; padding-bottom: 4px" alt="csharp" /> |
                    <img src="~/images/XamarinLogo.png" style="max-height: 41px; padding-bottom: 3px" alt="xaml" />
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("manfui-left"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                        <li>
                            <a href="https://github.com/akclifto/UIManf" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">

                        @foreach (var sect in Model.SectionList)
                        {
                            if (sect.Title.Equals("manfui-right"))
                            {
                                foreach (string s in sect.BulletList)
                                {
                                    <li>@s</li>
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>